body{
	background-color: red;
}
/*header stuff*/
#welcome{
	text-align: center;
	font-family: serif;
	color: white;
	background-color: yellow;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	position: absolute;
	top: 0%;
	left: 43%;
}


#header1{
	background-color: yellow;
	padding-right: 40px;
}

#welcomeMedia{
	text-align: center;
	font-family: serif;
	color: white;
	background-color: yellow;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	position: absolute;
	top: 0%;
	left: 30%;
}


/*DELETE THIS AFTER COMPLETE DEVELOPMENT */
#construct{
	position: absolute;
	margin-left: 380px;
	margin-top: 80px;
}
#construct:hover{
	transform(10deg);
	-webkit-transform:rotate(90deg);
	transition: 0.5s;
}



/* Homepage stuff */
#cluj{
	position: absolute;
	margin-left: 10%;
	margin-top: 10%;	
}

#enter_button{
	position: absolute;
	margin-left: 50%	
}

#welcomeHome{
	text-align: center;
	font-family: serif;
	color: white;
	background-color: yellow;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	position: absolute;
	top: 0%;
	left: 25%;
	font-size: 15px;
}



/* News page */

#article1{
	border-style: solid;
	border-radius: 15px;
	border-color: white;
	background-color: white;
	width: 900px;
	height: 500px;
	position: absolute;
	margin-left: 13.5%;
	color: red;
	padding-left: 3%;
	padding-right: 3%;
	overflow: auto;	
	font-size: 150%;

	margin-top: 3%;
}

#video1{
	float: left;
	margin: 0 2% 0% 0;
}

#video2{
	float: left;
	margin: 0 2% 0% 0;
}

#article2{
	border-style: solid;
	border-radius: 15px;
	border-color: white;
	background-color: white;
	width: 900px;
	height: 500px;
	position: absolute;
	margin-left: 13.5%;
	color: red;
	padding-left: 3%;
	padding-right: 3%;
	font-size: 150%;
	overflow: auto;

	margin-top: 42%;
}

#article3{
	border-style: solid;
	border-radius: 15px;
	border-color: white;
	background-color: white;
	width: 900px;
	height: 500px;
	position: absolute;
	margin-left: 13.5%;
	color: red;
	padding-left: 3%;
	padding-right: 3%;
	overflow: auto;	
	font-size: 150%;

	margin-top: 81.5%;
}

#article4{
	border-style: solid;
	border-radius: 15px;
	border-color: white;
	background-color: white;
	width: 900px;
	height: 500px;
	position: absolute;
	margin-left: 13.5%;
	color: red;
	padding-left: 3%;
	padding-right: 3%;
	overflow: auto;	
	font-size: 150%;

	margin-top: 121.5%;
}

#video3{
	float: left;
	margin: 0 2% 0% 0;
}



/* Dropdown menu */

nav{
	position: absolute;
	top: 13.1%;
	left: 28%;
	text-decoration: none;
}
	
nav ul{
	list-style-type: none;
}

nav > ul > li{
	display: inline;

}

nav  ul  li  a{
    font-size: 30px;
    text-decoration: none;
    padding: 9px;
    padding-bottom: 7px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

nav > ul > li > a:hover{
	background-color: red;
}

#hidden{
	visibility: hidden;
	position: absolute;
	top: 86%;
	right: 73s%;
	width: 140px;
    height: 150px;
    background-color: yellow;
}

#hidden li:hover{
	background-color: white;
}

#hidden li a:hover{
	color: red;
}

#dropdown:hover #hidden{
	visibility: visible;
	z-index: 400;
}

/* Contact page */
#local{
	border-style: solid;
	border-radius: 15px;
	border-color: white;
	background-color: white;
	width: 900px;
	height: 420px;
	position: absolute;
	margin-left: 13.5%;
	color: red;
	padding-left: 3%;
	padding-right: 3%;
	overflow: auto;	
	font-size: 150%;

	margin-top: 3%;
}


/* SLIDER */

.slider-wrap{ width: 419px; position: absolute; top: 197px; left: 40px; }			
.stripViewer .panelContainer 
.panel ul						{ text-align: left; margin: 0 15px 0 30px; }
.stripViewer						{ position: relative; overflow: hidden; width: 419px; height: 285px; }
.stripViewer .panelContainer				{ position: relative; left: 0; top: 0; }
.stripViewer .panelContainer .panel			{ float: left; height: 100%; position: relative; width: 419px; }
.stripNavL, .stripNavR, .stripNav			{ display: none; }
.nav-thumb 						{ border: 1px solid black; margin-right: 5px; }
#movers-row						{ margin: -43px 0 0 62px; }
#movers-row div					{ width: 20%; float: left; }
#movers-row div a.cross-link 				{ float: right; }
.photo-meta-data					{ background: url(images/transpBlack.png); padding: 10px; height: 30px; 
											  margin-top: -50px; position: relative; z-index: 9999; color: white; }
.photo-meta-data span 					{ font-size: 13px; }
.cross-link						{ display: block; width: 62px; margin-top: -14px; 
											  position: relative; padding-top: 15px; z-index: 9999; }
.active-thumb 						{ background: transparent url(images/icon-uparrowsmallwhite.png) top center no-repeat; }